extends layout

block navbar
	ul.nav.navbar-nav.mid-nav
		li
			a(href='/post') POST
		li
			a(href='/get') GET
		li.active
			a(href='/put') PUT
		li
			a(href='/delete') DELETE

block content
	if edit
		div.mid-text-box.left
			ul
				li Issue PUT request to  
					code api/object/:id
					|  through AJAX call.
				li Response will be rendered in current page.
			div.form-group
				label First Name
				input.form-control(type='text', placeholder='First Name',name='firstname' value="#{record.firstname}", id='firstname')
				label Last Name
				input.form-control(type='text', placeholder='Last Name', name='lastname', value="#{record.lastname}", id='lastname')
				label  DOB
				input.form-control(type='text', placeholder='Date of Birth', name='dob', value="#{record.dob}", id='dob')
				label DOD
				input.form-control(type='text', placeholder='DOD', name='dod', value="#{record.dod}", id='dod')
				input(type='hidden', value="#{record.uid}", name="id" id="uid")
				br
				input.btn.btn-default(type='submit', value='Update', id="edit_ajax")
		div.mid-text-box
			p#response

	else
		h3 PUT
		div.container-fluid
			div.mid-text-box.left
				ul
					li The table below renders GET 
						code api/objects
						|  response.
					li Issue a PUT request to 
						code api/object/:id
						|  click 'Edit' button below.
			table.table.table-hover.mid-table
				thead
					tr
						th ID
						th First Name
						th Last Name
						th DOB
						th DOD
						th
				tbody
					if !(records && records.length) 
						p No records found.
					else 
						each record in records
							tr
								td #{record.uid}
								td #{record.firstname}
								td #{record.lastname}
								td #{record.dob}
								td #{record.dod}
								td 
									a.btn.btn-default(href='/put/#{record.uid}') Edit


